<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>教学后台</title>
    <!-- css -->
    <%- include('../layout/Style') %>
  </head>
  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('../layout/Navbar') %>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../layout/Asidebar') %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <%- include('../layout/PageHeader', {main: '教学', sub: '主页'}) %>
        <!-- /.content-header -->
        <!-- Main content -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              这是我们的主页
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Main Footer -->
      <%- include('../layout/Footer') %>
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <%- include('../layout/Script') %>
  </body>
</html>
